{% extends 'base.html' %}

{% block main_container %}
  <h3>{{ board.name }} Board owner: {{ board.owner.get_full_name }}</h3>

  <div class="container">
    <div class="row">
      {% for col in board.cols.all %}
        <div class="col-6 col-sm-4">
          <div class="alert alert-info">{{ col.name }}</div>

          <div class="row">
            {% for task in col.tasks.all %}
              <div class="col-12">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                  <div class="card-header">{{ task.name }}</div>
                  <div class="card-body text-success">
                    <h5 class="card-title">{{ task.get_status_display }}</h5>
                    <p class="card-text">{{ task.description }}</p>
                    <p class="text-muted">Comments: {{ task.comments_count }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>




{% endblock %}