{% extends 'base.html' %}

{% block main_container %}
  <main class="form-signin">
    <form method="post" action="{% url 'users:login-page' %}">
      {% csrf_token %}
{#      <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">#}
{#      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>#}
{##}
{#      <div class="form-floating">#}
{#        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">#}
{#        <label for="floatingInput">Username</label>#}
{#      </div>#}
{#      <div class="form-floating">#}
{#        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">#}
{#        <label for="floatingPassword">Password</label>#}
{#      </div>#}
{##}
{#      <div class="checkbox mb-3">#}
{#        <label>#}
{#          <input type="checkbox" value="remember-me" name="remember_me"> Remember me#}
{#        </label>#}
{#      </div>#}


{#      {{ login_form }}#}
    {% for field in login_form %}
      {{ field.label }}
      {{ field }}
    {% endfor %}

      {% if errors %}
        <div class="container">
            {% for error in errors %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endfor %}

        </div>
      {% endif %}

      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
    </form>
  </main>

{% endblock %}